/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
    /* background-color: black; */
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

p {
    padding: 10px;
}